.spacer.direction-vertical.size-xs {
  height: 4px;
}

.spacer.direction-vertical.size-sm {
  height: 8px;
}

.spacer.direction-vertical.size-md {
  height: 16px;
}

.spacer.direction-vertical.size-lg {
  height: 24px;
}

.spacer.direction-vertical.size-xl {
  height: 40px;
}

.spacer.direction-horizontal.size-xs {
  width: 4px;
  display: inline-block;
}

.spacer.direction-horizontal.size-sm {
  width: 8px;
  display: inline-block;
}

.spacer.direction-horizontal.size-md {
  width: 16px;
  display: inline-block;
}

.spacer.direction-horizontal.size-lg {
  width: 24px;
  display: inline-block;
}

.spacer.direction-horizontal.size-xl {
  width: 40px;
  display: inline-block;
}
